.wrapper {
    background-color: #51118a;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.text {
    width: 80%;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

a {color: white;}

.inputarea {
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 1px solid rgba(255,255,255,.4);
    padding: 5px 5px 5px 5px;
}


#textinput{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid gray;
    padding: 5px 5px 5px 5px;
    width: 85%;
    background: white;
}

.textinput{
    display: block;
    height: 120px;
    border-width: 0;
    width: 100%;
    outline: none;
    resize: none;
}

.linkback, .send {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    outline: none;
    padding: 20px 30px;
    margin: 10px 20px;
    position: relative;
    color: white;
    border: 1px solid rgba(255,255,255,.4);
    background: none;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.linkback:before,
.linkback:after,
.send:before,
.send:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    box-sizing: border-box;
}
.linkback:before,
.send:before {
    bottom: 0;
    left: 0;
    border-left: 1px solid white;
    border-top: 1px solid white;
    transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}
.linkback:after,
.send:after {
    top: 0;
    right: 0;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    transition: 0s ease opacity .4s, .2s ease width , .2s ease height .2s;
}
.linkback:hover:before,
.linkback:hover:after,
.send:hover:before,
.send:hover:after {
    height: 100%;
    width: 100%;
    opacity: 1;
}
.linkback:hover:before, .send:hover:before {transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;}
.linkback:hover:after, .send:hover:after {transition: 0s ease opacity .4s, .2s ease height .4s , .2s ease width .6s;}
.linkback:hover, .send:hover {background: rgba(255,255,255,.2);}


.linkback{
    position: fixed;
    display: flex;
    justify-content: center;
    text-decoration: none;
    top: 5px;
    left: 5px;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 80px;
}

.send{
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}